name: CI

on:
  workflow_run:
    workflows: [Install and cache dependencies]
    types:
      - completed
  workflow_dispatch:

env:
  CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Nx Cloud - Main Job
    uses: sebpalluel/ci/.github/workflows/nx-cloud-main.yml@v0.10.14
    secrets:
      ENV_FILE: ${{ secrets.ENV_FILE }}
    with:
      environment-variables: |
        CYPRESS_CACHE_FOLDER=~/.cache/Cypress
      cypress_cache_path: ~/.cache/Cypress
      environment: staging
      init-commands: |
        pnpm exec nx-cloud record -- pnpm docker:test & pnpm docker:services
        # pnpm exec nx-cloud record -- pnpm docker:hasura-test-logs
        # pnpm exec nx-cloud record -- pnpm docker:hasura-engine-logs
        NX_CLOUD_DISTRIBUTED_EXECUTION=false pnpm nx is-services-launched

      parallel-commands: |
        pnpm nx workspace-lint
        pnpm nx format:check --verbose
        ## test relying in prisma + hasura not working in parallel, docker services not available ?
        pnpm nx affected --target=test-prisma --ci --code-coverage
        pnpm nx affected --target=test-hasura --ci --code-coverage
        pnpm nx affected --target=e2e --no-watch
      parallel-commands-on-agents: |
        pnpm affected:lint --parallel=3 &
        pnpm affected:build --parallel=3 &
        pnpm nx affected --target=test --parallel=3 --ci --code-coverage &
  agents:
    name: Nx Cloud - Agents
    uses: sebpalluel/ci/.github/workflows/nx-cloud-agents.yml@v0.10.14
    secrets:
      ENV_FILE: ${{ secrets.ENV_FILE }}
    with:
      environment: staging
      number-of-agents: 3
